header{

    background: #810fa3;
}

nav li{

    display: inline;
    margin: 0 0 0 15px;
}

nav a{

    text-transform: uppercase;
    color: #000000;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
    position:relative;
}

nav{
    position:absolute;
    top:110px;
    margin:0 0 0 500px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    margin: 0 0 0 100px;

}

.produtos{
    width: 9400px;
}