em strong{

    color: red;
}

h2{

    text-align: center;
}

p{

    text-align: center;
}

#banner{

    width:100%;
}

#missão{

    font-size: 20px;
}

h1{

    text-align: center;
}

.itens{

    font-style: italic;
}

.imagensbeneficios{

    width: 50%;

}

ul{

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.benefícios{

    background: #FFFFFF;
    padding: 30px;
}

.principal{

    background: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado{

    text-align: center;
}

.titulo-principal{

    padding-left: 20px;
}